.footer {
  padding: 30px 0;
  background-color: #008000;
  color: #fff;
}

.footer-header {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-header span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 575.98px) {
  .footer {
    padding: 10px 0;
  }

  .footer .map {
      margin-top: 10px;
  }
}
